Package: org.thebigboss.MixToolBoxUI
Name: MixToolBoxUI
Version: 1.2-0
Section: PreferenceBundles
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Author: J.C.T. <jct@82flex.com>
