Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: mobilesubstrate,preferenceLoader
Version: 1.0
Architecture: iphoneos-arm
Description: None
Maintainer: @@USER@@
Author: @@USER@@
Section: Tweaks
